In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [64]:
# read in the data
trials = pd.read_hdf('C:/Users/karam/Documents/GitHub/1-normalized-DS.hdf','trials')
eye_samples = pd.read_hdf('C:/Users/karam/Documents/GitHub/1-normalized-DS.hdf','eye_samples')

In [20]:
# update info based on trial_type codes
#trial_codes = {6101:'Novel', 6111: 'Novel Learning', 6102: 'Familiar', 6112: 'Familiar Learning'}
#trials['type'] = trials['trial_type'].map(trial_codes)

# remove initial trial_type columns
#del trials['trial_type']
#del eye_samples['trial_type']

In [65]:
trials = trials.reset_index(level = 'Session')

In [66]:
trials.Session.unique()

array(['2019-02-01T15:03:00.000000000', '2019-02-01T16:08:00.000000000',
       '2018-12-03T12:52:00.000000000', '2018-12-03T13:15:00.000000000',
       '2018-12-05T13:06:00.000000000', '2018-12-07T09:21:00.000000000',
       '2018-12-07T10:10:00.000000000', '2018-12-07T11:15:00.000000000',
       '2018-11-09T15:21:00.000000000', '2018-11-12T16:19:00.000000000',
       '2018-11-12T16:25:00.000000000', '2018-11-12T16:31:00.000000000',
       '2018-11-13T15:01:00.000000000', '2018-12-13T10:54:00.000000000',
       '2018-12-13T11:02:00.000000000', '2018-12-13T11:44:00.000000000',
       '2018-12-13T12:57:00.000000000', '2019-01-14T14:44:00.000000000',
       '2019-01-14T16:21:00.000000000', '2018-11-14T15:35:00.000000000',
       '2018-11-14T16:09:00.000000000', '2019-01-15T14:28:00.000000000',
       '2019-01-15T16:16:00.000000000', '2018-11-15T15:32:00.000000000',
       '2018-11-15T15:34:00.000000000', '2019-01-16T14:29:00.000000000',
       '2018-11-16T15:35:00.000000000', '2018-11-16T16:44:00.000000000',
       '2018-11-16T17:11:00.000000000', '2019-01-17T14:54:00.000000000',
       '2019-01-17T16:21:00.000000000', '2019-01-18T14:22:00.000000000',
       '2019-01-18T15:58:00.000000000', '2018-12-18T13:36:00.000000000',
       '2018-11-19T15:46:00.000000000', '2018-11-19T16:39:00.000000000',
       '2018-11-19T16:46:00.000000000', '2018-12-19T11:02:00.000000000',
       '2018-12-19T11:31:00.000000000', '2018-12-19T15:30:00.000000000',
       '2018-12-19T15:57:00.000000000', '2018-12-19T16:27:00.000000000',
       '2018-12-19T17:24:00.000000000', '2018-11-20T15:28:00.000000000',
       '2018-11-20T16:48:00.000000000', '2018-12-20T14:56:00.000000000',
       '2018-12-20T15:29:00.000000000', '2018-12-20T15:55:00.000000000',
       '2018-12-20T16:57:00.000000000', '2018-11-21T15:32:00.000000000',
       '2018-11-21T15:50:00.000000000', '2018-11-21T16:10:00.000000000',
       '2018-11-21T16:30:00.000000000', '2018-12-21T14:56:00.000000000',
       '2018-12-21T16:34:00.000000000', '2019-01-22T14:41:00.000000000',
       '2019-01-22T15:10:00.000000000', '2019-01-22T16:01:00.000000000',
       '2019-01-22T16:19:00.000000000', '2018-10-22T15:55:00.000000000',
       '2018-10-22T16:11:00.000000000', '2018-10-22T16:39:00.000000000',
       '2019-01-23T14:31:00.000000000', '2019-01-23T15:39:00.000000000',
       '2018-10-23T15:14:00.000000000', '2018-10-23T16:14:00.000000000',
       '2019-01-24T15:06:00.000000000', '2018-10-24T16:01:00.000000000',
       '2018-10-26T16:48:00.000000000', '2019-01-29T14:42:00.000000000',
       '2019-01-29T16:02:00.000000000', '2019-01-30T14:59:00.000000000',
       '2019-01-30T16:38:00.000000000', '2019-01-31T14:31:00.000000000',
       '2019-01-31T16:11:00.000000000'], dtype='datetime64[ns]')

In [83]:
print(trials.Session.unique().size)
trials["VNS"] = np.nan
trials

75

,Session,fixation_required,fractals,good_trials,target_amplitude,target_angle,time_fp_off,time_outcome,time_target_on,trial_type,type,t0,VNS
Trial,,,,,,,,,,,,,
0,2019-02-01 15:03:00,1,6212,1,10,0,2.041627,4.539041,1.541559,6112,Familiar Learning,7.000005e+06,NaN
1,2019-02-01 15:03:00,1,6202,1,10,0,2.027416,4.522012,1.519004,6102,Familiar,7.000014e+06,NaN
2,2019-02-01 15:03:00,1,6302,1,10,0,1.866344,4.361617,1.365954,6102,Familiar,7.000023e+06,NaN
3,2019-02-01 15:03:00,1,6212,1,10,180,1.868525,4.363784,1.368451,6112,Familiar Learning,7.000032e+06,NaN
4,2019-02-01 15:03:00,1,6202,1,10,180,1.872531,4.367683,1.372509,6102,Familiar,7.000040e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2019-01-31 16:11:00,1,6202,1,10,0,2.048566,4.551228,1.548390,6102,Familiar,6.921352e+06,NaN
490,2019-01-31 16:11:00,1,6101,1,10,180,2.096719,4.584201,1.588395,6101,Novel,6.921361e+06,NaN
491,2019-01-31 16:11:00,1,6212,1,10,180,3.479869,5.975469,2.979798,6112,Familiar Learning,6.921369e+06,NaN
492,2019-01-31 16:11:00,1,6312,1,10,0,2.056604,4.543982,1.548147,6112,Familiar Learning,6.921379e+06,NaN
493,2019-01-31 16:11:00,1,6302,1,10,0,2.012973,4.507564,1.504559,6102,Familiar,6.921387e+06,NaN

In [101]:
vns_sessions = ['2019-01-22 15:10:00','2019-01-22 16:01:00','2019-01-23 15:38:00','2019-01-29 16:02:00','2019-01-30 16:38:00','2019-02-01 15:03:00']
no_vns = ['2018-12-19 11:02:00','2018-12-19 11:31:00','2018-12-19 15:30:00','2018-12-19 15:57:00','2018-12-19 16:27:00','2018-12-19 17:24:00','2018-12-20 14:56:00','2018-12-20 15:55:00',
          '2018-12-20 16:57:00','2018-12-21 14:56:00','2019-01-14 14:44:00','2019-01-14 16:21:00','2019-01-15 14:28:00','2019-01-15 16:16:00','2019-01-16 14:29:00','2019-01-17 14:54:00',
          '2019-01-17 16:21:00','2019-01-18 14:22:00','2019-01-18 15:58:00','2019-01-22 14:41:00','2019-01-22 16:19:00','2019-01-23 14:31:00','2019-01-24 15:06:00','2019-01-29 14:42:00',
          '2019-01-30 14:59:00','2019-01-31 14:31:00','2019-01-31 16:11:00','2019-02-01 16:08:00']

for date in vns_sessions:
    trials.loc[trials['Session'] == date, 'VNS'] = 1
    
for date in no_vns:
    trials.loc[trials['Session'] == date, 'VNS'] = 0
    
trials

,Session,fixation_required,fractals,good_trials,target_amplitude,target_angle,time_fp_off,time_outcome,time_target_on,trial_type,type,t0,VNS
Trial,,,,,,,,,,,,,
0,2019-02-01 15:03:00,1,6212,1,10,0,2.041627,4.539041,1.541559,6112,Familiar Learning,7.000005e+06,1.0
1,2019-02-01 15:03:00,1,6202,1,10,0,2.027416,4.522012,1.519004,6102,Familiar,7.000014e+06,1.0
2,2019-02-01 15:03:00,1,6302,1,10,0,1.866344,4.361617,1.365954,6102,Familiar,7.000023e+06,1.0
3,2019-02-01 15:03:00,1,6212,1,10,180,1.868525,4.363784,1.368451,6112,Familiar Learning,7.000032e+06,1.0
4,2019-02-01 15:03:00,1,6202,1,10,180,1.872531,4.367683,1.372509,6102,Familiar,7.000040e+06,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2019-01-31 16:11:00,1,6202,1,10,0,2.048566,4.551228,1.548390,6102,Familiar,6.921352e+06,0.0
490,2019-01-31 16:11:00,1,6101,1,10,180,2.096719,4.584201,1.588395,6101,Novel,6.921361e+06,0.0
491,2019-01-31 16:11:00,1,6212,1,10,180,3.479869,5.975469,2.979798,6112,Familiar Learning,6.921369e+06,0.0
492,2019-01-31 16:11:00,1,6312,1,10,0,2.056604,4.543982,1.548147,6112,Familiar Learning,6.921379e+06,0.0
493,2019-01-31 16:11:00,1,6302,1,10,0,2.012973,4.507564,1.504559,6102,Familiar,6.921387e+06,0.0

In [102]:
missing_data = pd.isnull(trials["VNS"])
missing_df = trials[missing_data]
missing_df.Session.unique()

array(['2018-12-03T12:52:00.000000000', '2018-12-03T13:15:00.000000000',
       '2018-12-05T13:06:00.000000000', '2018-12-07T09:21:00.000000000',
       '2018-12-07T10:10:00.000000000', '2018-12-07T11:15:00.000000000',
       '2018-11-09T15:21:00.000000000', '2018-11-12T16:19:00.000000000',
       '2018-11-12T16:25:00.000000000', '2018-11-12T16:31:00.000000000',
       '2018-11-13T15:01:00.000000000', '2018-12-13T10:54:00.000000000',
       '2018-12-13T11:02:00.000000000', '2018-12-13T11:44:00.000000000',
       '2018-12-13T12:57:00.000000000', '2018-11-14T15:35:00.000000000',
       '2018-11-14T16:09:00.000000000', '2018-11-15T15:32:00.000000000',
       '2018-11-15T15:34:00.000000000', '2018-11-16T15:35:00.000000000',
       '2018-11-16T16:44:00.000000000', '2018-11-16T17:11:00.000000000',
       '2018-12-18T13:36:00.000000000', '2018-11-19T15:46:00.000000000',
       '2018-11-19T16:39:00.000000000', '2018-11-19T16:46:00.000000000',
       '2018-11-20T15:28:00.000000000', '2018-11-20T16:48:00.000000000',
       '2018-12-20T15:29:00.000000000', '2018-11-21T15:32:00.000000000',
       '2018-11-21T15:50:00.000000000', '2018-11-21T16:10:00.000000000',
       '2018-11-21T16:30:00.000000000', '2018-12-21T16:34:00.000000000',
       '2018-10-22T15:55:00.000000000', '2018-10-22T16:11:00.000000000',
       '2018-10-22T16:39:00.000000000', '2019-01-23T15:39:00.000000000',
       '2018-10-23T15:14:00.000000000', '2018-10-23T16:14:00.000000000',
       '2018-10-24T16:01:00.000000000', '2018-10-26T16:48:00.000000000'],
      dtype='datetime64[ns]')

In [106]:
#eye_samples = eye_samples.reset_index(level = 'Session')

In [104]:
eye_samples

                                  Session     Pupils          x         y
Trial t_trial
0     00:00:00        2019-02-01 15:03:00  39.865723  24.316406 -2.004395
      00:00:00.018000 2019-02-01 15:03:00  39.855957  24.311523 -2.005615
      00:00:00.032000 2019-02-01 15:03:00  39.848633  24.316406 -1.994934
      00:00:00.033000 2019-02-01 15:03:00  39.851074  24.296875 -1.992188
      00:00:00.040000 2019-02-01 15:03:00  39.880371  26.396484 -1.979980
...                                   ...        ...        ...       ...
493   00:00:06.494000 2019-01-31 16:11:00  26.469727  32.542725 -1.226349
      00:00:06.501000 2019-01-31 16:11:00  26.376953  32.429199 -1.225281
      00:00:06.502000 2019-01-31 16:11:00  26.428223  32.465820 -1.226425
      00:00:06.503000 2019-01-31 16:11:00  26.445312  32.478027 -1.226807
      00:00:06.509000 2019-01-31 16:11:00  26.564941  32.604980 -1.223145

[30942271 rows x 4 columns]

In [105]:
sess190123 = eye_samples[eye_samples['Session'] == '2019-01-23 15:38:00']
sess190123

                                  Session    Pupils         x         y
Trial t_trial
0     00:00:00        2019-01-23 15:38:00  2.839355 -2.443848 -2.398987
      00:00:00.030000 2019-01-23 15:38:00  2.805176 -2.692871 -2.402039
      00:00:00.034000 2019-01-23 15:38:00  2.700195 -2.629395 -2.413635
      00:00:00.043000 2019-01-23 15:38:00  2.685547 -2.304688 -2.410126
      00:00:00.044000 2019-01-23 15:38:00  2.683105 -2.277832 -2.411499
...                                   ...       ...       ...       ...
496   00:00:01.047000 2019-01-23 15:38:00  3.907064 -1.649577 -1.499939
      00:00:01.048000 2019-01-23 15:38:00  3.908691 -1.665039 -1.499329
      00:00:01.054000 2019-01-23 15:38:00  4.028320 -1.345215 -1.496887
      00:00:01.055000 2019-01-23 15:38:00  3.955078 -1.337891 -1.501160
      00:00:01.063000 2019-01-23 15:38:00  3.952637 -1.218262 -1.490784

[838134 rows x 4 columns]

In [41]:
#sess190201.groupby('t_trial').mean()

                    Pupils          x         y
t_trial
00:00:00         21.601017   5.744187 -1.963350
00:00:00.006000  22.089258   7.392082 -1.938450
00:00:00.007000  23.322179   7.274708 -1.944989
00:00:00.008000  24.148688   7.442220 -1.939766
00:00:00.009000  22.783073   4.880521 -1.962099
...                    ...        ...       ...
00:00:09.239000 -40.096029 -40.081380 -5.011800
00:00:09.240000 -40.105794 -40.087077 -5.012410
00:00:09.247000 -40.104167 -40.092773 -5.012817
00:00:09.248000 -40.104980 -40.092773 -5.012512
00:00:09.255000 -40.092773 -40.083008 -5.010986

[8619 rows x 3 columns]

In [23]:
# look for unique values in certain columns
trials.good_trials.unique() # good trials either 0 or 1
fractal_codes = trials.fractals.unique()
fractal_codes.size # 15 different fractal codes

# target amplitude always 10, target angle either 0 or 180, 4 trial types
# fixation_required always 1

15

In [36]:
# random testing
trial0 = eye_samples[eye_samples['Trial'] == 0]
trial0.head()

,Trial,fixation_required,fractals,good_trials,target_amplitude,target_angle,time_fp_off,time_outcome,time_target_on,datetime,Pupils,x,y,t,type
sample_id,,,,,,,,,,,,,,,
0,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.865723,24.316406,-2.004395,7.000005e+06,Familiar Learning
1,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.855957,24.311523,-2.005615,7.000005e+06,Familiar Learning
2,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.848633,24.316406,-1.994934,7.000005e+06,Familiar Learning
3,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.851074,24.296875,-1.992188,7.000005e+06,Familiar Learning
4,0,1,6212,1,10,0,2.041627,4.539041,1.541559,2019-02-01 15:03:00,39.880371,26.396484,-1.979980,7.000005e+06,Familiar Learning